* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
public/vendor/mediapipe/**/*.js whitespace=-trailing-space

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
